
        <div class="row" >
            <div class="col-md-3" *ngFor="let stu of allStudent" >
             <!-- Card -->
              <mdb-card >
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <!-- Card img -->
                    <img src="{{stu.imageURL}}" alt="Card image cap" >
                    <a [routerLink]="['/','studentprofile',stu._id]">
                      <div class="mask"></div>
                    </a>

                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                    <!--Title-->
                    <mdb-card-title>
                      <!-- <h4>{{c.name}}</h4> -->
                    </mdb-card-title>
                    <P>Name:{{stu.fname}} {{stu.lname}}</P>
                    <!--Text-->
                    <mdb-card-text>
                     Email:{{stu.email}}
                    </mdb-card-text>
                    <div class="row">
                      <div class="col">
                        <button mdbBtn type="button"  color="danger" outline="true" size="sm" mdbWavesEffect (click)="onDeleteStu(stu._id)">Delete</button>
                      </div>
                    </div>
                  </mdb-card-body>
                </mdb-card>
                <!-- Card -->
            </div>
          </div>
