<app-navbar></app-navbar>
<div style="width: 90%;margin:auto">


  <form style="margin-top: 100px;"  >

    <div class="row">
      <div class="col-12">
        <h3 class="text-center" style="font-weight: bold;">Update Course</h3>
      </div>
    </div>

      <div class="row">
        <div class="col-12">
          <h6>Course Title</h6>
          <mat-form-field >
            <input matInput placeholder="title"  [(ngModel)]="name" name="name">
          </mat-form-field>

        </div>

      </div>


      <div class="row">
        <div class="col-12">
          <h6>Course Description</h6>
          <mat-form-field >
            <textarea matInput placeholder="description" [(ngModel)]="description" name="description"></textarea>
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <h6>Catergory</h6>

              <mat-form-field  style="margin-bottom:20px;">
                <mat-select [(value)]="catergory" name="subCatergory" [(ngModel)]="maincatergory" placeholder="select catergory">
                  <mat-option *ngFor="let catergory of loadedCatergory; let i=index;" [value]="catergory.name">{{catergory.name}}</mat-option>

                </mat-select>
              </mat-form-field>

        </div>
        <div class="form-group col-sm-6">
            <h6>Sub-Catergory</h6>

              <mat-form-field style="margin-bottom:20px;">
                <mat-select [(ngModel)]="subcatergory" placeholder="select sub-catergory" name="subcatregory">
                  <mat-option *ngFor="let subcatergory of loadedSubcatergory | subcatergory:maincatergory; let i=index;" [value]="subcatergory.name"  >{{subcatergory.name}}</mat-option>

                </mat-select>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <!-- type -->
          <h6>Course Type</h6>

          <mat-form-field>
            <mat-select placeholder="Select" [(ngModel)]="type" name="type">
              <mat-option value="paid">paid</mat-option>
              <mat-option value="free">free</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-4">
          <!-- skill level -->
          <h6>Skill Level</h6>
          <mat-form-field>
            <mat-select placeholder="Select" [(ngModel)]="skillLevel" name="skillLevel">
              <mat-option value="beginner">beginner</mat-option>
              <mat-option value="intermediate">intermediate</mat-option>
              <mat-option value="advance">advance</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="form-group col-sm-4">
          <!-- duration -->
          <h6>Duration</h6>

          <mat-form-field>
            <mat-select placeholder="Select" [(ngModel)]="duration" name="duration">
              <mat-option value="lessmonth">lessmonth</mat-option>
              <mat-option value="1-3month">1-3month</mat-option>
              <mat-option value="3+month">3+month</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12">

            <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="onUpdate()">Update Course</button>
          </div>
        </div>
      </div>
    </form>
</div>
<hr>
<app-footer></app-footer>
