.nav-pills .active{
  background-color:#009688 ;
  margin-bottom: 10px;
}

.nav-pills{
 // height: 800px;

  background-color: transparent;
   background-repeat: no-repeat;

 // background-size: 300px 100%;
}

.nav-pills a{
  color:white;

}

.nav-text{
  font-family: fantasy;
  font-size: 25pt;
  letter-spacing: 5px;
  color: white;
}
.col-2{
   background-image: url("https://img.freepik.com/free-vector/blue-3d-modern-background-design_53876-88247.jpg?size=626&ext=jpg");

}


