.nav-pills .active{
  background-color:#009688 ;
  margin-bottom: 10px;
}

.nav-pills{
 // height: 800px;

  background-color: transparent;
   background-repeat: no-repeat;

 // background-size: 300px 100%;
}

.nav-pills a{
  color:white;

}

.nav-text{
  font-family: fantasy;
  font-size: 25pt;
  letter-spacing: 5px;
  color: white;
}
.col-2{
   background-image: url("https://images.unsplash.com/photo-1569429210811-641dced2167e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
   background-repeat: no-repeat;
   background-size: 100% 100%;

}


