<app-navbar></app-navbar>
<div class="row" >
    <div class="col-md-3" *ngFor="let course of serchCourse" >


        <mdb-card >
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <img src="{{course.url}}" alt="Card image cap" >
              <a [routerLink]="['/displaycourses','course-content',course._id]" routerLinkActive="router-link-active" >
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>{{course.name}}</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
               {{course.description | shorten}}
              </mdb-card-text>


            </mdb-card-body>
          </mdb-card>
    </div>

  </div>
