img {
  height: 700px;
  border-bottom: red outset 25px;
  margin-bottom: 2px;
}

.course-carousel{

  max-width: 1600px;
  margin:auto;
  //background-color:rgba(192, 192, 192, 0.596);
  margin-top: 3px;
  padding-top: 30px;
  padding-bottom: 50px;

}

.course-carousel-title{

 font-family:fantasy;
 margin-top: 40px;

}

.top-rate-course{
  width: 90%;
  margin: auto;
  margin-top: 50px;
}



